Flask>=1.1.2
python-dotenv>=0.20.0
accelerate
datasets
torchmetrics
evaluate
transformers>=4.28.0
wandb
pip
peft
nodelist-inflator
deepspeed
sentencepiece
jsonlines
nomic
scikit-learn
matplotlib
read
protobuf==3.20.*
